@charset "shift_jis";



body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 85%;
	line-height: 2;
	color: #333333;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(images/bg.gif);
	background-repeat: repeat;
	background-position: bottom;
}


h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

img {
	border: none;
}


form {
	margin: 0px;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}



/*リンク設定
---------------------------------------------------------------------------*/
a {
	color: #7fca1f;
}

a:hover {
	text-decoration: none;
	color: #b3ee67;
}

a:hover img.hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}

/*wrap*/
#wrap {
	background-image: url(images/bgtop.gif);
	background-repeat: repeat-x;
	background-position: top;
}

/*コンテナー
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
}



/*ヘッダー
---------------------------------------------------------------------------*/
#header h1 {
	font-size: 10px;
	line-height: 10px;
	padding-left: 30px;
	padding-bottom: 20px;
	font-weight: normal;
	color: #333333;
}

#header #tel {
	float: right;
	top: 20px;
	right: 0px;
	text-align:right;
}
#header .logo {
	left: 50px;
	top: 0px;
}


/*メインメニュー
---------------------------------------------------------------------------*/
ul#menu {
	padding-left: 0px;
	padding-top: 10px;
}

ul#menu li {
	float: left;
}

ul#menu img {
	vertical-align: bottom;
}



/*トップメイン画像
---------------------------------------------------------------------------*/
#mainimg {
	position: relative;
	height: 300px;
	width: 1500px;
}

/*サブメイン画像
---------------------------------------------------------------------------*/
#subimg {
	position: relative;
	height: 150px;
	width: 1500px;
}



/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 996px;
	background-color: #FFFFFF;
	background-image: url(images/contents_bg.gif);
	background-repeat: repeat-y;
}



/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;
	width: 710px;
	display: inline;
	margin-right: 10px;
	padding-top: 30px;
}

/*h2、h3*/
#main h2 {
	font-size: 110%;
	color: #768c10;
	background-image: url(images/midashi1_bg.gif);
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	padding: 15px 0 0 30px;
	line-height: 48px;

}

#main h3 {
	font-size: 95%;
	color: #abcb05;
	background-image: url(images/h3_bg.gif);
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2px 0 0 20px;
	line-height: 48px;

}


.nenkinbaner{
	padding-left:200px;
	padding-right:10px;
	

	
	
}




/*pタグ*/
#main p {
	padding: 0.5em 10px 0.5em;
}

#main p.come {
	font-size: 85%;
	color: #555555;
	padding: 0.5em 10px 1em;
	line-height: 1.5;
}

#main p.pp {
	color: #768c10;
	padding: 5px 10px 0px;
	line-height: 1;
}

#main p.red {
	font-size: 130%;
	color: #ff0000;
	padding: 0px 10px 0px;
	line-height: 1.5;
}

#main p.point {
	font-size: 120%;
	font-weight: bold;
	padding: 0px 10px 5px;
	line-height: 2;
}


/*料金背景*/
div.pricebg {
	background-color: #daea88;
	padding: 20px 10px 5px;
	margin: 10px;
}
div.gyoumu{
	background-color: #CCCCCC;
	padding: 20px 10px 5px;
	margin: 10px;
}
/*業務案内リスト背景*/
div.serbg {
	background-color: #daea88;
	padding: 10px 10px 5px;
	margin: 10px;
}


#main p.border {
	border-bottom: 1px dashed #777777;
	padding: 0px 10px 0px 15px;
	margin: 0 200px 0px 0;
}

#main p.borderlast {
	border-bottom: 1px dashed #777777;
	padding: 0px 10px 0px 15px;
	margin: 0 200px 20px 0;
}

#main p.bordersingle {
	border-bottom: 1px dashed #777777;
	padding: 0px 10px 0px 15px;
	margin: 0 180px 20px 0;
}

div.space{
	height:30px;
}

div.space2{
	height:20px;
}

/*google maps用*/
#main .maps {
	text-align: center;
}

/*トップページ内画像2段
---------------------------------------------------------------------------*/
#minil{
	float: left;
	width: 335px;
	display: inline;
	margin: 0 10px 10px;
	padding-top: 0px;
}

#minir{
	float: right;
	width: 335px;
	display: inline;
	margin: 0 10px 10px;
	padding-top: 0px;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	display: inline;
	float: left;
	width: 250px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*h3見出しタグ設定*/
#sub h3 {

	line-height: 30px;
	background-image: url(images/midashi2_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #e79f40;
	font-size: 100%;
	color: #FFFFFF;
	padding-left: 30px;
}

#sub ul.sub {
	margin: 0 0 4px 14px;
	list-style-type: circle;
}


/*段落タグ設定*/
#sub p {
	padding: 0.5em 5px 1em;
}


#sub img{
	margin-bottom: 10px;
	margin-top: 5px;
}





/*フッター
---------------------------------------------------------------------------*/
#footer {
	clear: both;
	background-image: url(images/footer_bg.gif);
	background-color: #000064;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}






/*etc
---------------------------------------------------------------------------*/
.clear {
	clear: both;
}

.pagetop {
	text-align: right;
	margin-top: 2em;
}

ul.index {
	padding: 0.5em 10px 1em 30px;
	list-style-type: square;
}

ul.dec {
	padding: 0.5em 10px 1em 30px;
	list-style-type: decimal;
}

strong {
	color: #768c10;
	font-size: 14px;
}


strong.hutoji {
	color: #000000;
}

p#warimasi{
	width:535px;
	margin:0 0 20px 0;
	line-height:100%;
	border-bottom: solid 1px #d6e885;
}



/* -------------------- */
/* ▼ヘッダーの装飾 */
/* -------------------- */
#header h1 {

   width: 4000px;
   max-width: 60%;
   margin-right: auto;
   margin-left : auto;
   background-color: #000064;
　 
}

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
   background-color: #000064; /* バーの背景色(濃い青色) */
   max-width: 60%;
   margin-right: auto;
   margin-left : auto;
}


/* -------------------- */
/* ▼フォームの装飾 */
/* -------------------- */
#form {
   width: 4000px;
   max-width: 60%;
   margin-right: auto;
   margin-left : auto;
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
   width: 100px;          /* メニュー項目の横幅(250px) */
   display: inline-block; /* ★横並びに配置する */
   list-style-type: none; /* ★リストの先頭記号を消す */
   position: relative;    /* ★サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
   background-color: #000064; /* メニュー項目の背景色(濃い青色) */
   color: white;              /* メニュー項目の文字色(白色) */
   line-height: 60px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: bold;         /* 太字にする */
   display: block;            /* ★項目内全域をリンク可能にする */
   font-size: 15px;            /* フォントサイズ */
}
ul.ddmenu a:hover {
   background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: #696969;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが2階層以上ある場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover > ul {
   display: block;         /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
   margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
   display: none;       /* ★標準では非表示にする */
   position: absolute;  /* ★絶対配置にする */
}

/* -------------------------------- */
/* ▼サブメニュー(以降の)項目の装飾 */
/* -------------------------------- */
ul.ddmenu ul li {
   width: 100px;               /* サブメニュー1項目の横幅(250px) */
   border-top: 1px solid gray; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {
   line-height: 50px;   /* サブメニュー1項目の高さ(50px) */
   text-align: left;    /* 文字列の配置(左寄せ) */
   padding-left: 5px;   /* 文字列前方の余白(5px) */
   font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {
   background-color: #acacff; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

/* ----------------------------------- */
/* ▼3階層目以降(孫メニュー以降)の装飾 */   /* ※下ではなく横(右)に表示します。 */
/* ----------------------------------- */
ul.ddmenu ul ul {
   margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
   display: none;       /* ★標準では非表示にする */
   position: absolute;  /* ★絶対配置にする */
   top: -1px;           /* 1pxだけ上方向にずらす(※上に1pxの枠線を引いている場合) */
   left: 100%;          /* ★基準位置からの距離を親ボックスの幅100％にする */
   border-left: 1px solid pink; /* 左側に引く枠線(ピンク色で1pxの実線) */
}



/* -------------------- */
/* ▼スペースの装飾 */
/* -------------------- */
#space {
   width: 4000px;
   max-width: 60%;
   margin-right: auto;
   margin-left : auto;
   background-color: #000064
}
